# Created by .ignore support plugin (hsz.mobi)
# @author limx
.idea
vendor/
composer.lock
.phalcon
.env
.env.bak
storage/log/*
storage/cache/*
storage/meta/*
data
public/dist/
node_modules/
package-lock.json
socket.pid
*.cache
