[Unit]
Description=Socket Server
After=network.target
After=syslog.target

[Service]
Type=forking
PIDFile=/opt/www/phalcon/socket.pid
Restart=always
User=nginx
Group=nginx

ExecStart=/usr/local/bin/php /opt/www/phalcon/run server
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target graphical.target